@CHARSET "UTF-8";
@font-face{
    font-family: "caviar dreams";
    src: url(../font/CooperHewitt-Medium.otf);
}

* {
	font-family: "caviar dreams";
}

html {
	position: relative;
  	min-height: 100%;
}

body {
	color: #040404;
	background-image: url(../img/bg.png);
}

header {
	background: white;
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25);
	box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.25);
	min-height: 100px;
}

#content {
	min-height: calc(100vh - 100px - 65px);
	padding: 20px;
}

.btn {
	border: none;
	background: #eb502d!important;
	color: white!important;
    letter-spacing: 1px;
}

.active {
	color: orange!important;
}

a {
	color: white;
	text-decoration: none!important;
}

#logo-header {
	display: inline-block;
	width: 100px;
	float: left;
}

#logo-header a img {
	width:150px;
	heigth:auto;
}

#navbar {
	float:right;
	margin-top: 25px;
	height: auto;
	width: calc(100% - 30px - 190px);
	background: white;
}

#navbar a { 
	color: #106fd5;
}

#navbar a:hover, #navbar a:active {
	color: orange;
	background: white;
}

#nav-links {
	float: right;
}

#nav-toggle, #search-toggle {
	background: #2a89ef;
	color: white;
	margin-top: 30px;
}

#search h3 {
	float: left;
	margin: 5px;
	color: white;
}

#search-fields {
	float: right;
}

#search {
	height: 55px;
	padding: 10px; 
	margin-top: 15px;
	vertical-align: middle;
	background: #eb502d;
	border-radius: 5px;
	width: 100%;
}

.searchbox{
	float: left;
}
.sidebar-item {
	heigth:auto;
	border-radius: 2px;
	padding: 5px;
	margin-top: 15px;
	background: white;
}

.sidebar-item h3 {
	margin: 0px;
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
	background: #2a89ef;
	color: white;
}

.sidebar-item a {
	color: 	#eb502d;
	text-align: center;
	font-weight: 400!important;
}

#contact-details {
	margin-top: 10px;
	margin-bottom: 0px;
}

#contact-details li {
	whitespace: pre;
}

#contact-details li label{
	margin-bottom: 0px;
	margin-top: 5px;
}

#contact-details li address{
	margin-bottom: 0px;
	margin-top: 5px;
}

#shopping-cart{
	text-align:right;
}

#shopping-cart a{
	margin-top:10px;
}
#shopping-cart h3 {
	padding-right: 15px;

}

.glyphicon-shopping-cart {
	margin: 5px;
}

#shopping-cart-items {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align:left;
	padding-top: 10px;
	padding-bottom: 10px;
}


#shopping-cart-items li {
	padding: 15px;
	margin: 5px;
	background: #f5f5f5;
	border-radius: 5px;
	height: auto;
	text-align: right;
}

#shopping-cart-items img {
	float: left;
}
.shopping-item-description {
	float: left;
	text-align: left;
}
.shopping-item-title {
	text-align: center;
}

.shopping-cart-items li .btn {
	-margin-top:23px;
	-margin-right: 10px;
	margin-left: 5px;
}


.shopping-item-description {
	display: inline-block;
	position: relative;
	top: 10px;
	left: 10px;
}


.shippingcost-number{
	width:auto;
	float:right;
	height:auto;
}

.shippingcost-number label{
	white-space:nowrap;
}


#shopping-total {
	padding: 15px;
	background: #2a89ef;
	color: white;
}

#shopping-total div label{
    margin-left: 8px;
    float:left;
    width:auto;
    text-align:left;
}
.shopping-total-label-holder{
	height: 20px;
	margin-bottom:5px;
}

.product-container {
	padding: 7.5px;
	min-height: 200px;
	height: auto;
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
	border-radius: 3px;
	margin-top: 15px;
}

.product-container  img {
	display: inline-block;
	height: 180px;
	width: 200px;
}

.product-definitions {
	display: inline-block;
	width: calc(100% - 200px);
	height: auto;
	padding-left: 10px;
}

.size-search {
	width: 70px!important;
	margin-right: 10px;
}

.text-search {
	width: 150px;
	margin-right: 20px;
}

#pay-with-paypal{
	margin-left:10px;textSearch
	margin-top: 10px;
}

.productDescription {
	white-space:wrap;
	overflow:hidden;
	float:left;
	margin-top:9px;
	margin-bottom:9px;
	max-height:61%;
	max-width:100%;
}

footer {
	margin-top: 15px;
	padding-top: 10px;
  	height: 50px;
  	background: #FFFFFF;
  	padding-left: 30px;
  	padding-right: 30px;
  	width: 100%;
  	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25);
	box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.25);
}

footer p {
	width: auto;
	float: left;
	margin-top: 7px;
}

footer .footer-icon {
	display: inline-block;
	text-align: center;
	background: #106fd5;
	width: 30px;
	height: 30px;
	border-radius: 50px;
	margin-left: 10px;
	margin-top: -10px;
}

.footer-icon a {
	position: relative;
	display: block;
	height: 30px;
	top: 7px;
}

#prodctDetailsContainer {
	background-color: #F5F5F5;
	height:200px;
	margin-left:15px;
	margin-right:15px;
}

.buy-form-container {
	padding: 10px;
	height: auto;
	width: calc(100% - 200px);	
}

.buy-form-container select{
	width:auto;
	float:left;
	
}

.buy-form-container button {
	width: 25%;
    float: right;
    padding-left: 10px;
}



@media screen and (max-width: 768px) {
	#navbar {
		margin: 0px;
	}
	
	#content {
		padding: 0px;
		margin: 0px;
	}
	
	#search {
		padding: 15px;
	}
	
	.container {
		padding: 0px;
		margin: 0px;	
	}
	
	.product-container {
		text-align: center;
	}
	
	#shopping-total div label{
	    margin-left: 8px;
	    float:left;
	    text-align:left;
	}
	.product-container .btn {
		background: #2a89ef;
	}
	
	footer {
		height: 100px;
	}
	
	#nav-links {
		width: 100%;
	}
	
	#search {
		margin-top: 20px;
		height: 110px;
		padding: 15px;
		padding-bottom: 20px;
		width: 100%;
	}
	
	#search-fields {
		float: left;
	}
	
	#search h3 {
		display: none;
	}
	
	.size-search {
		width: 50px!important;
		padding: 5px!important;
	}
	
	.text-search {
		width: 100%!important;
		margin-bottom: 10px;
	}
	
	.product-definitions {
		width: 100%;
	}
	
	#navbar {
		width: 100%;
	}
	
	
	.buy-form-container{
		width: 100%;
	    height: 50px;
	}
}

@media screen and (min-width: 768px) {
	.product-container img {
		float: left;
	}
	
	.buy-form-container {
		float: right;
	}
	
}

@media screen and (max-width: 320px) {
	.buy-form-container{
	    height: 100px;
	    display: block;
	}
	.buy-form-container select{
	    width: 100%;
	 }
	.buy-form-container button{
		margin-top: 10px;
    float: none;
	}
}

#paypalFormDiv{
	margin-top: 15px;
	display:block;
	background-color: #F5F5F5;
    border-radius: 2px;
	-width:220px;
	padding:10px;
}

#paypalFormDiv ul, h3{
	text-align: center;
}

#paypalFormDiv h3{
	margin-bottom:20px;
}

.paypal{
	border-radius:10px;
	margin-top:10px;
	margin-bottom:10px;
	padding-left:10px;
}

.paypalbutton{
	margin-top:10px;
}

form .text-search {
	width: 100% !important;
	margin-bottom:10px; 
	margin-right:0px;
}

form {
	margin-bottom:0px;
}
#paypal-response{
	padding: 10px;
	display: block;
	width: 500px;
	margin:auto;
	background:white;
	border-radius: 5px;
}

#paypal-response th{
	font-weight:bold;
	padding-bottom:10px;
	padding-right:5px;
}

#paypal-response p{
	width: auto;
	max-width: 400px;
	float: left;
}

.prize-head{
	padding-right:0px !important;
	padding-left:20px;
}
.prize-data{
	text-align:right;
}

.item-data{
	text-align:left;
}
.units-head{
	padding-left:20px;
}

.units-data{
	text-align:center;
}

 .last .item-data, .last .prize-data{
	padding-top: 10px;
}

.last {
	border-bottom: 1px solid black;
}


#paypal-response a {
	margin-top: 33px;
}

.shopping-total-label-holder label:last-child {
	float: right !important;
}

#shopping-total div:last-child{
	margin-bottom: -5px;
}


/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */

#build {
	background: white;
	border-radius: 5px;
	min-height: 100%;
}






